<html>
<head>
<title>Perl & Mageia</title>
</head>

<body>

<h2><a href="http://mageia.org">Mageia</a> ships with [%nbmodules%] Perl modules!</h2>

<img
    src="images/nbmodules.png"
    alt="evolution of perl modules within Mageia Linux">

<p> <i>Page generated on [%date%].</i> </p>

</body>
</html>
